<div class="container d-flex align-items-center justify-content-center h-80">
    <div class="row justify-content-center w-100 mt--7">
        <div class="col-lg-7 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <p>You are <strong>unauthorized</strong> to access this page! <br> Please, click on the button to return to your home screen.</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary mt-4" (click)="routeToHomePage()">Back to home screen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>