<div class="header down-side-border bg-dark-blue pb-9 pt-5 pt-md-9">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
</div>

<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-body">
                    <p-toolbar styleClass="mb-4">
                        <ng-template pTemplate="left">
                          <h5 class="mb-0">All Employees Leaves Requests</h5>
                        </ng-template>
                    
                        <ng-template pTemplate="right">
        
                        </ng-template>
                      </p-toolbar>
                      
                      <div class="card" *ngIf="{ leaves: leavesList$ | async } as props">              
                        <p-table
                          #dt
                          [value]="props.leaves"
                          [rows]="3"
                          [paginator]="true"
                          [globalFilterFields]="[
                              'userFullName',
                              'leaveDetails.daysNumber',
                              'leaveDetails.startDate',
                              'leaveDetails.endDate',
                              'leaveDetails.leaveType',
                              'leaveDetails.status',
                              'leaveDetails.startDateSpecification',
                              'leaveDetails.endDateSpecification'
                          ]"
                          [rowHover]="true"
                          dataKey="id"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} leaves"
                          [showCurrentPageReport]="true"
                        >
                        <ng-template pTemplate="caption">
                          <div class="d-flex align-items-center justify-content-end">
                              <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." class="mr-2"/>
                              </span>
                          </div>
                      </ng-template> 
                          <ng-template pTemplate="header">
                            <tr>
                              <th pSortableColumn="userFullName">
                                Employee <p-sortIcon field="userFullName"></p-sortIcon>
                                </th>
                              <th pSortableColumn="leaveDetails.daysNumber">
                                Days Number <p-sortIcon field="leaveDetails.daysNumber"></p-sortIcon>
                              </th>
                              <th pSortableColumn="leaveDetails.startDate">
                                Begin Date <p-sortIcon field="leaveDetails.startDate"></p-sortIcon>
                              </th>
                              <th pSortableColumn="leaveDetails.endDate">
                                End Date <p-sortIcon field="leaveDetails.endDate"></p-sortIcon>
                              </th>
                              <th pSortableColumn="leaveDetails.leaveType">
                                Nature <p-sortIcon field="leaveDetails.leaveType"></p-sortIcon>
                              </th>
                              <th pSortableColumn="leaveDetails.status">
                                Status <p-sortIcon field="leaveDetails.status"></p-sortIcon>
                              </th>
                              <th></th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-leave>
                            <tr>
                              <td>{{ leave.userFullName }}</td>
                              <td>{{ leave.leaveDetails.daysNumber }} {{leave.leaveDetails.daysNumber===1 ? 'day' : 'days'}} </td>
                              <td>
                                <div class="d-flex justify-content-around py-2">
                                  <span>{{ leave.leaveDetails.startDate | date:'dd/MM/yyyy' }}</span>
                                  <span class="badge badge-pill badge-default"> {{leave.leaveDetails.startDateSpecification}} </span>
                                </div>
                              </td>
                              <td>
                                <div class="d-flex justify-content-around py-2">
                                  <span>{{ leave.leaveDetails.endDate | date:'dd/MM/yyyy' }}</span>
                                  <span class="badge badge-pill badge-default"> {{leave.leaveDetails.endDateSpecification}} </span>
                                </div>
                              </td>
                              <td>{{ leave.leaveDetails.leaveType || '--' }}</td>
                              <td>
                                <span class="badge badge-pill" 
                                  [ngClass]="{'badge-success': leave.leaveDetails.status === 'Valid', 'badge-danger' : leave.leaveDetails.status === 'Invalid', 'badge-primary' : leave.leaveDetails.status === 'Pending'}"
                                >{{ leave.leaveDetails.status === 'Valid' ? 'Accepted' : leave.leaveDetails.status === 'Invalid' ? 'Rejected' : 'Pending' || '--' }}</span>
                              </td>
                              <td>
                                <div class="d-flex">
                                  <button pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-success p-button-outlined mr-1" (click)="acceptOrReject(leave.leaveDetails, 'Valid')" [disabled]="leave.leaveDetails.status === 'Valid'"></button>
                                  <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined mr-1" (click)="acceptOrReject(leave.leaveDetails, 'Invalid')" [disabled]="leave.leaveDetails.status === 'Invalid'"></button>
                                  <button pButton pRipple icon="pi pi-info" class="p-button-rounded p-button-secondary p-button-outlined" placement="left" ngbTooltip="Reason: {{ !!leave.leaveDetails.reason ? leave.leaveDetails.reason : 'NONE' }}"></button> 
                                </div>
                              </td>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                              In total there are {{ props.leaves ? props.leaves.length : 0 }} leaves.
                            </div>
                          </ng-template>
                        </p-table>
                      </div>
                </div>
            </div>
        </div>
      </div>
</div>

<p-toast position="bottom-center" key="statusConfirmation" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 1rem"></i>
                <h6>{{message.summary}}</h6>
                <p>{{message.detail}}</p>
            </div>
            <textarea *ngIf="message.data.status === 'Invalid'" [(ngModel)]="rejectionReason" class="w-100 mb-2" rows="2" placeholder="Write the rejection reason here ..."></textarea>
            <div class="p-grid p-fluid d-flex justify-content-center">
                <div class="p-col-6 mr-2">
                    <button type="button" pButton (click)="onConfirm(message.data)" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
  </p-toast>