<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 bg-gradient-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container pt-lg-md">
          <div class="row justify-content-center">
            <div class="card card-width-90 bg-secondary shadow border-3">
              <div class="card-body px-lg-5 py-lg-5 bg-white">
                <p-toolbar styleClass="mb-4">
                  <ng-template pTemplate="left">
                    <h5 class="mb-0">Employees Pointings</h5>
                  </ng-template>
              
                  <ng-template pTemplate="right">

                  </ng-template>
                </p-toolbar>

                <p-toolbar styleClass="mb-4">
                    <ng-template pTemplate="left">
                        <select *ngIf="{ usersList: usersList$ | async, selectedUser: selectedUser$ | async } as props" class="form-control" placeholder="Users..." (change)="changeSelectedUser($event.target.value, props.usersList)" #users required>
                            <option *ngFor="let user of props.usersList" [value]="user.id">{{ getUserFullName(user) }}</option>
                        </select>
                        </ng-template>
                
                    <ng-template pTemplate="right">
                      <label class="custom-file-upload mr-2 mb-0">
                        <i class="pi pi-upload"></i> Import
                        <input type="file" class="custom-file-upload" accept=".xls, .xlsx" (change)="onFileUpload($event)"/>
                      </label>

                      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-outlined p-button-default p-mr-2" (click)="open(addPointing)"></button>
                      <!-- add modal -->
                      <ng-template #addPointing let-c="close" let-d="dismiss">
                        <div class="modal-content">
                          <div class="modal-body p-0">
                            <div class="card bg-secondary shadow border-0">
                              <div class="card-header bg-white ">
                                <div class="text-muted text-center">Adding Pointing</div>
                              </div>
                              <div class="card-body px-lg-5 py-lg-3">
                                <p>All fields are required!</p>
                                <form [formGroup]="checkInFormGroup">
                                  <div class="form-group d-flex">
                                    <div class="input-group mr-3">
                                      <div class="w-100">
                                        <select class="form-control" formControlName="checkInType">
                                          <option value="null" disabled>Select Pointing Type...</option>
                                          <option *ngFor="let checkInType of checkInTypes" [value]="checkInType">{{ checkInType }}</option>
                                        </select>
                                      </div>
                                      <div *ngIf="checkInFormGroup.get('checkInType').invalid && checkInFormGroup.get('checkInType').touched" class="invalid-feedback display-component">
                                        <div *ngIf="checkInFormGroup.get('checkInType').errors.required">Nature is required!</div>
                                      </div>  
                                    </div>
                                  </div>

                                  <div class="input-group">
                                  <div class="w-100"><p-calendar placeholder="Select a start date..." formControlName="checkInDate" [showTime]="true" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar></div>
                                  <div *ngIf="checkInFormGroup.get('checkInDate').invalid && checkInFormGroup.get('checkInDate').touched" class="invalid-feedback display-component">
                                      <div *ngIf="checkInFormGroup.get('checkInDate').errors.required">Start Date is required!</div>
                                  </div>
                                  </div>

                                  <div class="text-center">
                                    <button pButton pRipple class="p-button-success my-4" (click)="add()" [disabled]="checkInFormGroup.invalid">Add Pointing</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ng-template>
                  </p-toolbar>
                
                <div class="pointing-tables" *ngIf="{ netCheckInsList: netCheckInsList$ | async, brutCheckInsList: brutCheckInsList$ | async } as props">
                    <div class="mr-5">
                        <h6>Net Pointings</h6>
                        <p-table 
                            [value]="props.netCheckInsList" 
                            [rows]="10"
                            [paginator]="true"
                            responsiveLayout="scroll" 
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} users"
                            [showCurrentPageReport]="true"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Pointing Date</th>
                                    <th>Pointing Time</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-groupedCheckIn>
                                <tr>
                                    <td>{{groupedCheckIn.date | date:'fullDate'}}</td>
                                    <td class="d-flex justify-content-around">
                                        <span 
                                            *ngFor="let checkIn of groupedCheckIn.checkIns" 
                                            class="mr-1 d-flex justify-content-around badge badge-pill" 
                                            [ngClass]="{'badge-success': checkIn.checkInType === 'IN', 'badge-danger': checkIn.checkInType === 'OUT'}"
                                        >
                                            <i class="pi pi-check-circle mr-2" [ngClass]="{'pi-check-circle': checkIn.checkInType === 'IN', 'pi-times-circle': checkIn.checkInType === 'OUT'}"></i>
                                            <span class="d-flex align-items-center justify-content-center">{{checkIn.checkInDate | date:'shortTime'}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                    <div>
                        <h6>Gross Pointings</h6>
                        <p-table 
                            [value]="props.brutCheckInsList" 
                            [rows]="10"
                            [paginator]="true"
                            responsiveLayout="scroll"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} users"
                            [showCurrentPageReport]="true"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Pointing Date</th>
                                    <th>Pointing Time</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-groupedCheckIn>
                                <tr>
                                    <td>{{groupedCheckIn.date | date:'fullDate'}}</td>
                                    <td class="d-flex justify-content-around">
                                        <span 
                                            *ngFor="let checkIn of groupedCheckIn.checkIns" 
                                            class="mr-1 d-flex justify-content-around badge badge-pill" 
                                            [ngClass]="{'badge-success': checkIn.checkInType === 'IN', 'badge-danger': checkIn.checkInType === 'OUT'}"
                                        >
                                            <i class="pi pi-check-circle mr-2" [ngClass]="{'pi-check-circle': checkIn.checkInType === 'IN', 'pi-times-circle': checkIn.checkInType === 'OUT'}"></i>
                                            <span class="d-flex align-items-center">{{checkIn.checkInDate | date:'shortTime'}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 -6 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
    </div>
  </main>
  
  
  <!-- <p-toast position="bottom-center" key="delete" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 1rem"></i>
                <h6>{{message.summary}}</h6>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid d-flex justify-content-center">
                <div class="p-col-6 mr-2">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
  </p-toast> -->
    