<div class="header down-side-border bg-dark-blue pb-9 pt-5 pt-md-9">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
</div>

<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="mb-2 text-center">Welcome to ETAP internal website!</h1>
                    
                    <div class="text-center">
                        <iframe 
                            class="my-3 iframe-raduis shadow"
                            width="888" 
                            height="500" 
                            src="https://www.youtube.com/embed/1jqAjQSVJjI?si=ZSCUyK3NNFtzD5mq?autoplay=1" 
                            title="ETAP Presentation Video" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            referrerpolicy="strict-origin-when-cross-origin" 
                            allowfullscreen
                        ></iframe>
                    </div>

                    <h3>Entreprise Tunisienne d’Activités Pétrolières</h3>
                    <p>
                        L'Entreprise Tunisienne d’Activités Pétrolières «ETAP» a été créée en vertu de la <strong>Loi N° 72-22 du 10 Mars 1972</strong>,
                        elle est entrée en activité effective en 1974. ETAP est classée conformément au <strong>Décret N° 97-564 du 31 mars 1997</strong> 
                        parmi les établissements publics à caractère non administratif (EPNA), sous tutelle du Ministère de l’Industrie, 
                        des Mines et de l’Energie. Le fonctionnement et l’organisation de l’ETAP sont fixés par le <strong>décret N° 73-173 du 
                        16 avril 1973</strong> tel que modifié et complété par les <strong>décrets N° 76-98 du 6 février 1976 et N° 88-2050 du 19 décembre 1988.</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>