<div class="container d-flex align-items-center justify-content-center h-80">
  <div class="row justify-content-center w-100 mt--7">
    <div class="col-lg-7 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent">
          Reset Password
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-muted">
              <p><small>Enter your new password.</small></p>
              <form role="form" [formGroup]="resetPasswordForm">
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="New Paswword" type="password" (focus)="focus=true" (blur)="focus=false" formControlName="password">
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Confirm New Password" type="password" (focus)="focus1=true" (blur)="focus1=false" formControlName="confirmPassword">
                  </div>
                </div>
                
                <div *ngIf="!passwordsAreEqual()" class="invalid-feedback display-component">Passwords must be equals!</div>
                <div *ngIf="resetPasswordForm.invalid && (resetPasswordForm.get('password').dirty || resetPasswordForm.get('password').touched || resetPasswordForm.get('confirmPassword').dirty || resetPasswordForm.get('confirmPassword').touched)" class="invalid-feedback display-component">
                  <div *ngIf="resetPasswordForm.get('password').errors.required || resetPasswordForm.get('confirmPassword').errors.required">All fields are required!</div>
                  <div *ngIf="resetPasswordForm.get('password').errors.pattern">Password should be at least 8 characters including one uppercase letter, one digit, and one special character!</div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary mt-4" (click)="resetPassword()" [disabled]="resetPasswordForm.invalid || !passwordsAreEqual()">Reset Password</button>
                </div>
              </form>       
          </div>
        </div>
      </div>
    </div>
  </div>
</div>