<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="card card-width-90 bg-secondary shadow border-3">
            <div class="card-body px-lg-5 py-lg-5 bg-white">
              <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                  <h5 class="mb-0">Manage the list of users</h5>
                </ng-template>
            
                <ng-template pTemplate="right">

                </ng-template>
              </p-toolbar>
              
              <div class="card" *ngIf="{ users: usersList$ | async } as props">              
                <p-table
                  #dt
                  [value]="props.users"
                  [rows]="3"
                  [paginator]="true"
                  [globalFilterFields]="[
                  'firstName',
                  'lastName',
                  'email',
                  'role',
                  'userRef',
                  'jobTitle',
                  'phoneNumber',
                  'gender'
                  ]"
                  [rowHover]="true"
                  dataKey="id"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} users"
                  [showCurrentPageReport]="true"
                >
                <ng-template pTemplate="caption">
                  <div class="d-flex align-items-center justify-content-between">
                      <span class="p-buttonset">
                        <button pButton pRipple class="p-button-outlined p-button-secondary" label="All" icon="pi pi-filter" (click)="showUserListDependingOnItsStatus(null)"></button>
                        <button pButton pRipple class="p-button-outlined p-button-secondary" label="Enabled" icon="pi pi-filter" (click)="showUserListDependingOnItsStatus(true)"></button>
                        <button pButton pRipple class="p-button-outlined p-button-secondary" label="Disabled" icon="pi pi-filter" (click)="showUserListDependingOnItsStatus(false)"></button>
                      </span>

                      <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." class="mr-2"/>
              
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-outlined p-button-info p-mr-2" (click)="open(addUser)"></button>
                        <ng-template #addUser let-c="close" let-d="dismiss">
                          <div class="modal-content">
                            <div class="modal-body p-0">
                              <div class="card bg-secondary shadow border-0">
                                <div class="card-header bg-white ">
                                  <div class="text-muted text-center">Adding user</div>
                                </div>
                                <div class="card-body px-lg-5 py-lg-3">
                                  <p>All fields are required!</p>
                                  <form role="form" [formGroup]="addingUserForm">
                                    <div class="form-group d-flex" style="width: 49%;">
                                      <input type="text" placeholder="User Reference" class="form-control mr-2 bg-white" disabled="" formControlName="userRef" [(ngModel)]="userToAdd.userRef" style="text-align: center;">
                                      <button class="btn btn-icon btn-2 btn-outline-default" type="button" (click)="generateUserReference()">
                                        <span class="btn-inner--icon"><i class="ni ni-atom"></i></span>
                                      </button>
                                    </div>

                                    <div class="form-group d-flex justify-content-between">
                                      <div class="input-group mr-3">
                                          <div class="w-100"><input type="text" class="form-control" placeholder="First Name" formControlName="firstName" [(ngModel)]="userToAdd.firstName"></div>                                        <div *ngIf="addingUserForm.get('firstName').invalid && addingUserForm.get('firstName').touched" class="invalid-feedback display-component">
                                          <div *ngIf="addingUserForm.get('firstName').errors.required">First Name is required!</div>
                                          <div *ngIf="addingUserForm.get('firstName').errors.pattern">First Name should contain only characters!</div>
                                        </div>
                                      </div>

                                      <div class="input-group">
                                        <div class="w-100"><input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" [(ngModel)]="userToAdd.lastName"></div>
                                        <div *ngIf="addingUserForm.get('lastName').invalid && addingUserForm.get('lastName').touched" class="invalid-feedback display-component">
                                          <div *ngIf="addingUserForm.get('lastName').errors.required">Last Name is required!</div>
                                          <div *ngIf="addingUserForm.get('lastName').errors.pattern">Last Name should contain only characters!</div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="form-group d-flex justify-content-between">
                                      <div class="input-group">
                                        <div class="w-100"><input type="text" class="form-control" placeholder="Email" formControlName="email" [(ngModel)]="userToAdd.email"></div>
                                        <div *ngIf="addingUserForm.get('email').invalid && addingUserForm.get('email').touched" class="invalid-feedback display-component">
                                          <div *ngIf="addingUserForm.get('email').errors.required">Email is required!</div>
                                          <div *ngIf="addingUserForm.get('email').errors.email">Email is invalid!</div>
                                        </div>
                                      </div>                                
                                    </div>

                                    <div class="form-group d-flex justify-content-between">
                                      <div class="input-group mr-3">
                                        <div class="w-100">
                                          <select class="form-control" placeholder="Role" formControlName="role" [(ngModel)]="userToAdd.role" #role required>
                                            <option value="null" disabled>Select Role...</option>
                                            <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                                          </select>
                                        </div>
                                        <div *ngIf="addingUserForm.get('role').invalid && addingUserForm.get('role').touched" class="invalid-feedback display-component">
                                          <div *ngIf="addingUserForm.get('role').errors.required">Role is required!</div>
                                        </div>  
                                      </div>

                                      <div class="input-group">
                                        <div class="w-100"><select class="form-control" placeholder="Gender" formControlName="gender" [(ngModel)]="userToAdd.gender">
                                            <option value="null" disabled>Select Gender...</option>
                                            <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
                                          </select>
                                        </div>
                                        <div *ngIf="addingUserForm.get('gender').invalid && addingUserForm.get('gender').touched" class="invalid-feedback display-component">
                                          <div *ngIf="addingUserForm.get('gender').errors.required">Gender is required!</div>
                                        </div>  
                                      </div>
                                    </div>

                                    <div class="form-group d-flex justify-content-between">
                                      <div class="input-group mr-3">
                                        <div class="w-100"><input type="text" class="form-control" placeholder="Position" formControlName="jobTitle" [(ngModel)]="userToAdd.jobTitle"></div>
                                        <div *ngIf="addingUserForm.get('jobTitle').invalid && addingUserForm.get('jobTitle').touched" class="invalid-feedback display-component">
                                          <div *ngIf="addingUserForm.get('jobTitle').errors.required">Position is required!</div>
                                        </div>  
                                      </div>

                                      <div class="input-group">
                                        <div class="w-100"><input type="text" class="form-control" placeholder="Phone Number" formControlName="phoneNumber" [(ngModel)]="userToAdd.phoneNumber"></div>
                                        <div *ngIf="addingUserForm.get('phoneNumber').invalid && addingUserForm.get('phoneNumber').touched" class="invalid-feedback display-component">
                                          <div *ngIf="addingUserForm.get('phoneNumber').errors.required">Phone number is required!</div>
                                        </div>  
                                      </div>
                                    </div>

                                    <div class="text-center">
                                      <button pButton type="button" class="p-button-success my-4" (click)="add()" [disabled]="addingUserForm.invalid">Add User</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </span>
                  </div>
              </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th>#</th>
                      <th pSortableColumn="firstName">
                        First Name <p-sortIcon field="firstName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="lastName">
                        Last Name <p-sortIcon field="lastName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="jobTitle">
                        Position <p-sortIcon field="jobTitle"></p-sortIcon>
                      </th>
                      <th pSortableColumn="role">
                        Role <p-sortIcon field="role"></p-sortIcon>
                      </th>
                      <th pSortableColumn="gender">
                        Gender <p-sortIcon field="gender"></p-sortIcon>
                      </th>
                      <th pSortableColumn="email">
                        Email <p-sortIcon field="email"></p-sortIcon>
                      </th>
                      <th pSortableColumn="phoneNumber">
                        Phone Number <p-sortIcon field="phoneNumber"></p-sortIcon>
                      </th>
                      <th></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-user>
                    <tr [ngStyle]="{'backgroundColor': !user.enabled ? 'rgb(255 100 100 / 15%)' : '#fff'}">
                      <td>{{ user.userRef }}</td>
                      <td>{{ user.firstName || '--' }}</td>
                      <td>{{ user.lastName || '--' }}</td>
                      <td>{{ user.jobTitle || '--' }}</td>
                      <td>{{ user.role || '--' }}</td>
                      <td>{{ user.gender || '--' }}</td>
                      <td>{{ user.email || '--' }}</td>
                      <td>{{ user.phoneNumber || '--' }}</td>
                      <td>
                        <div class="d-flex">
                          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-help p-button-outlined mr-1" (click)="specialOpen(editUser, user)"></button>
                          <button *ngIf="user.enabled" pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined mr-1" (click)="ableOrDisableUser(user)"></button> 
                          <button *ngIf="!user.enabled" pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-success p-button-outlined mr-1" (click)="ableOrDisableUser(user)"></button> 
                          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-outlined mr-1" (click)="deleteUser(user.id)"></button> 
                          <button pButton pRipple icon="pi pi-info" class="p-button-rounded p-button-secondary p-button-outlined" placement="left" ngbTooltip="last login here"></button> 
                        </div>
                      </td>
                    </tr>

                    <ng-template #editUser let-c="close" let-d="dismiss">
                      <div class="modal-content">
                        <div class="modal-body p-0">
                          <div class="card bg-secondary shadow border-0">
                            <div class="card-header bg-white ">
                              <div class="text-muted text-center">Editing user</div>
                            </div>
                            <div class="card-body px-lg-5 py-lg-3">
                              <p>The fields with <i class="ni ni-tag"></i> are required!</p>
                              <form role="form" [formGroup]="editingUserForm">
                                <div class="form-group d-flex" style="width: 49%;">
                                  <input type="text" placeholder="User Reference" class="form-control mr-2 bg-white" disabled="" formControlName="userRef" [(ngModel)]="userToModify.userRef" style="text-align: center;">
                                  <button class="btn btn-icon btn-2 btn-outline-default" type="button" (click)="generateUserReference()">
                                    <span class="btn-inner--icon"><i class="ni ni-atom"></i></span>
                                  </button>
                                </div>
                    
                                <div class="form-group d-flex justify-content-between">
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="ni ni-tag"></i></span>
                                    </div>
                                    <input type="text" class="form-control mr-3" placeholder="First Name" formControlName="firstName" [(ngModel)]="userToModify.firstName">
                                  </div>
                    
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="ni ni-tag"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" [(ngModel)]="userToModify.lastName">
                                  </div>
                                </div>
                    
                                <div class="form-group d-flex justify-content-between">
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="ni ni-tag"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" formControlName="email" [(ngModel)]="userToModify.email">
                                  </div>                                      
                                </div>
                    
                                <div class="form-group d-flex justify-content-between">
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="ni ni-tag"></i></span>
                                    </div>
                                    <select class="form-control mr-3" placeholder="Role" formControlName="role" [(ngModel)]="userToModify.role" #role required>
                                      <option value="null" disabled>Select Role...</option>
                                      <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                                    </select>
                                  </div>
                    
                                  <select class="form-control" placeholder="Gender" formControlName="gender" [(ngModel)]="userToModify.gender">
                                    <option value="null" disabled>Select Gender...</option>
                                    <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
                                  </select>
                                </div>
                    
                                <div class="form-group d-flex justify-content-between">
                                  <input type="text" class="form-control mr-3" placeholder="Position" formControlName="jobTitle" [(ngModel)]="userToModify.jobTitle">
                                  <input type="text" class="form-control" placeholder="Phone Number" formControlName="phoneNumber" [(ngModel)]="userToModify.phoneNumber">
                                </div>
                    
                                <div class="text-center">
                                  <button pButton type="button" class="p-button-secondary my-4 mr-2" (click)="closeModal()">Cancel</button>
                                  <button pButton type="button" class="p-button-success my-4" (click)="edit()" [disabled]="editingUserForm.invalid">Edit User</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ng-template>
                  <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                      In total there are {{ props.users ? props.users.length : 0 }} users.
                    </div>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 -6 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
</main>


<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
          <div class="p-text-center">
              <i class="pi pi-exclamation-triangle" style="font-size: 1rem"></i>
              <h6>{{message.summary}}</h6>
              <p>{{message.detail}}</p>
          </div>
          <div class="p-grid p-fluid d-flex justify-content-center">
              <div class="p-col-6 mr-2">
                  <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
              </div>
              <div class="p-col-6">
                  <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
              </div>
          </div>
      </div>
  </ng-template>
</p-toast>
  